# Database Local Target Configuration
SAP_DB_HOST=localhost
SAP_DB_PORT=5432
SAP_DB_NAME=sap_simulation
SAP_DB_USER=sap_user
SAP_DB_PASSWORD=your_secure_local_password_here

# Kafka Message Broker Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# AWS Cloud Infrastructure Configuration
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID_HERE
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY_HERE
AWS_REGION=eu-central-1
AWS_S3_BUCKET_NAME=mcs-capstone-datalake-829703038395